<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/originals/b4/5d/a3/b45da3d003682c2091cf48add0419577.jpg">
    <title>Sigma</title>
</head>
<body style="margin: auto;width: 50%;text-align: center;">
    <h1>Shahins Praxisarbeit fürs Modul 323</h1>
    <img src="{{ url_for('static', filename='a.png') }}" width="320">
    <img src="{{ url_for('static', filename='a.gif') }}">
</body>
</html>